@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?tmn59n');
  src:  url('../fonts/icomoon.eot?tmn59n#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tmn59n') format('truetype'),
    url('../fonts/icomoon.woff?tmn59n') format('woff'),
    url('../fonts/icomoon.svg?tmn59n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e92c";
}
.icon-profile-prev:before {
  content: "\e92d";
}
.icon-angle-down:before {
  content: "\e92b";
}
.icon-add:before {
  content: "\e92a";
}
.icon-check:before {
  content: "\e91a";
}
.icon-commerce:before {
  content: "\e90d";
}
.icon-heart-fill:before {
  content: "\e90c";
}
.icon-heart:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e903";
}
.icon-account:before {
  content: "\e900";
}
.icon-angle-left:before {
  content: "\e904";
}
.icon-angle-right:before {
  content: "\e905";
}
.icon-arrow-forward:before {
  content: "\e906";
}
.icon-bell-ring:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-carret-down:before {
  content: "\e90a";
}
.icon-carret-up:before {
  content: "\e90b";
}
.icon-chat:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e910";
}
.icon-card:before {
  content: "\e912";
}
.icon-email-open:before {
  content: "\e90e";
}
.icon-email-receive:before {
  content: "\e90f";
}
.icon-email-send:before {
  content: "\e911";
}
.icon-emoticon:before {
  content: "\e913";
}
.icon-eye:before {
  content: "\e914";
}
.icon-facebook:before {
  content: "\e915";
}
.icon-gift:before {
  content: "\e916";
}
.icon-image:before {
  content: "\e918";
}
.icon-images:before {
  content: "\e919";
}
.icon-envelop:before {
  content: "\e91b";
}
.icon-lips:before {
  content: "\e91c";
}
.icon-lock-open:before {
  content: "\e917";
}
.icon-login:before {
  content: "\e91d";
}
.icon-logout:before {
  content: "\e91e";
}
.icon-magnify:before {
  content: "\e91f";
}
.icon-menu:before {
  content: "\e920";
}
.icon-list:before {
  content: "\e921";
}
.icon-message:before {
  content: "\e922";
}
.icon-money:before {
  content: "\e923";
}
.icon-paperclip:before {
  content: "\e924";
}
.icon-phone:before {
  content: "\e925";
}
.icon-play:before {
  content: "\e926";
}
.icon-profile:before {
  content: "\e927";
}
.icon-puzzle:before {
  content: "\e928";
}
.icon-search:before {
  content: "\e929";
}
.icon-send:before {
  content: "\e92e";
}
.icon-signs:before {
  content: "\e92f";
}
.icon-sunny:before {
  content: "\e931";
}
.icon-trash:before {
  content: "\e932";
}
.icon-travel:before {
  content: "\e933";
}
.icon-upload:before {
  content: "\e934";
}
.icon-video:before {
  content: "\e935";
}
.icon-video-account:before {
  content: "\e937";
}
.icon-volume:before {
  content: "\e938";
}
.icon-woman:before {
  content: "\e939";
}
.icon-youtube:before {
  content: "\e93a";
}
.icon-star-off:before {
  content: "\e930";
}
.icon-star-fill:before {
  content: "\e901";
}
