.present-section {
  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.converter {
  padding: 10px;
  width: 290px;

	&-col {
    margin-bottom: 10px;
    
    &:last-child {
      margin-bottom: 0;
    }
	}
}

.colorpick {
  border-radius: 10px;
  border: 1px solid #dcdcdc;
}

.form-control {
  width: 100%;
  background-color: $white;
  border-radius: 10px;
  color: #777777;
  padding: 2px 12px;
  line-height: 34px;
  border: 1px solid #dcdcdc;
  outline: none;

  &:focus {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  }
}